{% extends "base.html" %}

{% block body %}
  {% if account %}
    <p>Aweber account is linked</p>
    <form action="/" method="POST">
    {% for list in lists %}
      <div class="form-check">
        <input class="form-check-input" type="radio"
        name="list" value="{{ list["id"] }}"
        id="{{ list["id"] }}"
        {% if current_user["list_id"] == str(list["id"]) %} checked {% end %} />
        <label class="form-check-label" for="{{ list["id"] }}">{{ escape(list["name"]) }} {{ list["id"] }} {{ current_user["list_id"] }}</label>
      </div>
    {% end %}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% else %}
    <a href="/auth">Link Aweber Account</a>
  {% end %}
  {% if account and account["guild_id"] %}
    <p>Guild is linked {{ account["guild_id"] }}</p>
    <form action="/" method="POST">
    {% for channel in [c for c in channels if c["type"] == 0] %}
      <div class="form-check">
        <input class="form-check-input" type="radio"
        name="channel" value="{{ channel["id"] }}"
        id="{{ channel["id"] }}"
        {% if current_user["channel_id"] == channel["id"] %} checked {% end %} />
        <label class="form-check-label" for="{{ channel["id"] }}">{{ escape(channel["name"]) }}</label>
      </div>
    {% end %}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% else %}
     <a href="https://discordapp.com/api/oauth2/authorize?client_id=428369064499478542&permissions=0&redirect_uri=https%3A%2F%2Fapps-1505253873.us-east-1.elb.amazonaws.com%2Fdiscord&scope=bot">Add bot</a>
  {% end %}
{% end %}
